<h2>Sign up</h2>
<div class= "container-fluid">
  <div class= "row center" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <span class= "text-danger"><%= devise_error_messages! %></span>
      <div class="field">
        <span class="white"><%=f.label :username %></span><br />
        <%=f.text_field :username, autocomplete: "off" %>
      </div>
      <div class="field">
        <span class= "white"> <%= f.label :email %></span><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <span class= "white"><%= f.label :password %></span>
        <% if @minimum_password_length %>
          <span class= "black"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <span class= "white"><%= f.label :password_confirmation %></span><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>